body{
    text-align: center;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    padding: 2%;
    font-family: 'Ubuntu', sans-serif;
    min-height: 792px;
    overflow-y: scroll;
    color:azure;
}
.title{
    padding: 2%;
    font-weight: 700;
}
h1{
    padding-bottom: 6%;
    font-size: 4rem;
}

.content{
    margin-top: 4%;
    
}
label{
    padding: 1%;
}

input{
    margin-bottom: 2%;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
}

.credits{
    padding-top:8rem ;
}
button{
    border-radius: 0;
}

@media (max-width:700px){
    body{
        margin:2%;
        text-align: center;
        
    }
    h1{
        font-size: 2rem;
    }
    button{
        margin-top:2px;
    }
    h2{
        margin-top: 10%;
         
    }
    p{
        padding-top: 5%;
        
    }
    .content{
        padding: 10%;
    }
    
}